/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 /* Color Palette */
 :root {
  --primary-color: #357b70;
  --primary-color-lighter: lighten($primary-color, 30%);
  --secondary-color: #05676e;
  --tertiary-color: #489c79;
  --white-color: #EEEEEE;
  --sun-primary: #edc655;
  --sun-secondary: #fcffad;
  --sun-tertiary: #f76414;
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------
  Default Styles
------------------------------------*/
html {
  font-size: 1rem;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #1b1e24;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

p {
  line-height: 1.8;
}

figure {
  margin-bottom: 0;
}

hr {
  border-color: #e6e7e9;
}

[role=button] {
  cursor: pointer;
}

/*------------------------------------
  Headings
------------------------------------*/
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

/*------------------------------------
  Highlight Color
------------------------------------*/
::-moz-selection {
  color: #fff;
  background-color: #2972fa;
}

::selection {
  color: #fff;
  background-color: #2972fa;
}

.bg-primary ::-moz-selection {
  color: #2972fa;
  background-color: #fff;
}

.bg-primary ::selection {
  color: #2972fa;
  background-color: #fff;
}


.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

div {
  padding: 10px;
  margin: 10px;
  /* border: 1px solid black; */
  margin: 20 auto;
}

li {
  display: inline;
}

h1 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  height: auto;
}

/* Link Styling */

a {
  color: var(--primary-color);
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--secondary-color);
}

a:active {
  /* selected link */
  color: var(--tertiary-color);
}

/*----------------------------------
  Buttons
------------------------------------*/

.btn {
  cursor: pointer;
  transition: .2s ease;
}

.btn.focus,
.btn:focus .btn.active:focus, .btn:active:focus {
  outline: 0 none;
  box-shadow: none;
  border-color: transparent;
}

.btn--circle {
  border-radius: 100%;
  padding: 0;
  width: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
}

.btn--circle.btn-sm {
  width: 1.9375rem;
  height: 1.9375rem;
  line-height: 1.9375rem;
}

.btn--circle.btn-lg {
  width: 3.25rem;
  height: 3.25rem;
  line-height: 3.25rem;
}

.btn--pill {
  border-radius: 6.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.btn--pill.btn-sm {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.btn--pill.btn-lg {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}

.submit-button {
  background-color: var(--tertiary-color);
  color: var(--white-color);
}

.submit-button:hover {
  background-color: var(--white-color);
  color: var(--tertiary-color);
}

.profile,
.about,
.table {
  max-width: 700px;
  margin: 0 auto;
}

.work {
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  min-width: 50px;
  max-width: 300px;
  margin-right: 30px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--primary-color-lighter);
}

.grid__item:last-child {
  grid-column: 3 / 1;
  grid-row: 1 / 3;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .grid__item {
    background-color: var(--primary-color-lighter);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 1;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

a.button,
input.button {
  color: var(--white-color);
}

.berlin-illustration {
  display: flex;
  width: 60%;
  padding: 20px;
  margin: 0 auto;
}

@keyframes color-change {
  0% {
    fill: var(--sun-primary);
  }
  50% {
    fill: var(--sun-secondary);
  }
  100% {
    fill: var(--sun-tertiary);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 10s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation-duration: 20s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
